   [Unit]
   Description=CEC client program for turning tv remote inputs into x server actions

   [Service]
   Environment="DISPLAY=:0"
   Environment="XAUTHORITY=/home/william/.Xauthority"
   ExecStart=/usr/local/bin/cec-remote.sh
   Restart=always
   User=william
   StandardOutput=journal

   [Install]
   WantedBy=multi-user.target
