[Unit]
Description=CEC client program for turning tv remote inputs into Wayland actions

[Service]
ExecStart=/usr/local/bin/cec-remote.sh
Restart=always
StandardOutput=journal

[Install]
WantedBy=default.target
